In [2]:
import pandas as pd

In [12]:
data = []
with open("labelling_output.txt",'r') as file:
    lines = file.readlines()
    for i in range(len(lines)):
        line = lines[i]
        if line != "\n" and (line.startswith("Title: ") or line.startswith("Input: ")):
            # print(".",line)
            tit_i = line.find("Title: ")
            auth_i = line.find("Author: ")
            ser_i = line.find("Series: ")
            lang_i = line.find("Language: ")

            if(tit_i==-1 or auth_i==-1 or ser_i==-1 or lang_i==-1):
                continue

            dic = {"Title":line[tit_i+8:auth_i-3],"Author":line[auth_i+8:ser_i-2],"Series":line[ser_i+8:lang_i-2],"Lang":line[lang_i+10:-1]}
            
            next_line = None
            if(lines[i+1].startswith("Output:")):
                if lines[i+2].startswith("Indian") or lines[i+2].startswith("Non-Indian"):
                    next_line = lines[i+2]
                elif lines[i+1][8:].startswith("Indian") or lines[i+1][8:].startswith("Non-Indian"):
                    next_line = lines[i+1][8:]
            elif(lines[i+1].startswith("Indian") or lines[i+1].startswith("Non-Indian")):
                next_line = lines[i+1]
            else:
                continue
            
            assert next_line=="Indian\n" or next_line=="Non-Indian\n"
            
            dic['Label'] = next_line[:-1]
            data.append(dic)
            # print(dic)

    df = pd.DataFrame(data)

In [23]:
df[df["Label"]=="Non-Indian"]

,Title,Author,Series,Lang,Label
0,17,﻿McCauley Paul J,Unnamed: 3,English,Non-Indian
1,17,Mcauley Paul J,NA,English,Non-Indian
2,33,Moore G E,Wittgenstein\,NA,Non-Indian
3,33,Moore G E,Wittgenstein\,NA,Non-Indian
4,47,Mosley Walter,NA,English,Non-Indian
...,...,...,...,...,...
632,A Child\,NA,NA,NA,Non-Indian
633,A Childs history of England,Dickens Charles,NA,English,Non-Indian
634,A Child\,NA,NA,NA,Non-Indian
635,A Child\,NA,NA,NA,Non-Indian
636,A Child\,NA,NA,NA,Non-Indian

In [24]:
non_ind = df[df["Label"]=="Non-Indian"]

In [25]:
non_ind.to_csv("non_indian_books.csv")